:root {
    --azul-quality: #058fb2;
    --naranja-quality: #f9ae33;
    --cielo-quality: #47c7eb;
    --verde-gris-quality: #c8d9cd;
    --verde-quality: #527e4b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

header {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(110.51deg, #FF7A00 63.66%, rgba(255, 162, 109, 0.89) 163.48%);
}

header .header__title img {
    position: absolute;
    top: 0;
    right: 0;
}

header .header__nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header__nav .nav-icon {
    margin: 10px;
    display: flex;
}

.header__nav ul {
    display: none;
}

.header__nav .left-icon img {
    width: 45px;
    height: 45px;
    margin: auto 0;
    align-self: left;
}

.header__nav .burger .burger-icon {
    z-index: 1;
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: auto 0;
    margin-left: calc(90% - 25px);
    align-self: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/icon/burger.svg');
}

/*Este menú va junto a JS*/

.header__nav .lista-de-secciones {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 100%;
    height: 570px;
    top: 0;
    right: 0;
    background-color: #232f3e;
}

.lista-de-secciones__sub-nav {
    position: relative;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.sub-nav__line-menu {
    position: absolute;
    z-index: 2;
    top: 100px;
    left: calc(50% - 140px);
    width: 280px;
    height: 4px;
    border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/icon/line.svg');
}

.sub-nav__left-nav {
    display: flex;
    align-self: left;
    justify-content: flex-start;
    align-items: center;
}

.sub-nav__left-nav span {
    display: inline-block;
    margin-right: 10px;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/img/qblack.svg');
}

.sub-nav__left-nav p {
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: white;
}

.sub-nav__right-nav {
    display: flex;
    align-self: right;
    justify-content: flex-end;
    align-items: center;
}

.sub-nav__right-nav span {
    display: inline-block;
    width: 15px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/icon/equis.svg');
}

.lista-de-secciones__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    min-width: 288px;
    margin: 0 auto;
    margin-top: 25px;
}

.menu__title-menu {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color:white;
}

.menu__list-menu {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.list-menu__header-menu {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height: auto;
    margin-top: 12px;
    padding: 20px;
    background: rgba(94, 109, 132, 0.54);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    font-size: 1.4rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;    
    color: white;
}

.list-menu__header-menu td a {
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.list-menu__header-menu .list-menu__title {
    font-size: 1.6rem;
    font-weight: bold;
}

.list-menu__title .material-icons-outlined-face, .material-icons-outlined-up, .material-icons-outlined-check {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    vertical-align: text-bottom;
}

.list-menu__title .material-icons-outlined-face {
    background-image: url('../assets/icon/face.svg');
}

.list-menu__title .material-icons-outlined-up {
    background-image: url('../assets/icon/services.svg');
}

.list-menu__title .material-icons-outlined-check {
    background-image: url('../assets/icon/references.svg');
}


.list-menu__header-menu td {
    margin-top: 5px;
    font-size: 1.2rem;
}

/*Este menú va junto a JS*/

header .header__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 350px;
    margin: 0 auto;
    margin-top: 95px;
    align-self: center;
}

.header__title h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-shadow: 3px 3px 2px #e06b00;
    align-self: left;
}

.header__title p {
    width: 90%;
    min-width: 259px;
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 2rem;
    color: #FFFFFF;
}

header .header__title .header__button {
    position: absolute;
    z-index: 1;
    top: calc(100% - 25px);
    right: 40px;
    width: 150px;
    height: 50px;
    display: block;
    padding: 15px;
    background-color: rgb(255 255 255);
    border: none;
    border-radius: 30px;
    box-shadow: 0px 6px 10px rgba(66, 57, 36, 0.16);
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    text-align: center;
    color: var(--azul-quality);
}

header .header__title .header__button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(29, 24, 14, 0.16);
    background-color: rgb(255 255 255);
}

.header__button span {
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-left: 10px;
    background-size: cover;
    background-image: url('../assets/icon/arrowblue.svg');
}

/* Main */

main {
    width: 100%;
    height: auto;
}

main .about-us {
    width: 100%;
    height: auto;
}

.about-us .primary {
    position: relative;
    width: 100%;
    height: 590px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #47C7EB 0%, #008DDD 100%);
}

.primary__title {
    width: 90%;
    min-width: 288px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.primary__title p {
    width: 200px;
    font-size: 1.4rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    line-height: 3rem;
    color: white;
    text-align: left;
    text-shadow: 1px 1px 3px #055e88;
}

.primary__clouds {
    position: absolute;
    top: calc(70% - 135.5px);
    left: calc(50% - 100px);
}

.primary__clouds img {
    width: 200px;
    height: 200px;
}

.about-us .secundary {
    position: relative;
    width: 100%;
    height: 590px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background: #F9AE33;
}

.secundary__title {
    width: 90%;
    min-width: 288px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.secundary__title p {
    width: 400px;
    font-size: 1.4rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    line-height: 4rem;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 3px #734903;
}

.secundary__team img {
    position: absolute;
    z-index: 1;
    width: 260px;
    height: 310px;
    right: 0;
    bottom: calc(-10%);
}

.about-us .tertiary {
    position: relative;
    width: 100%;
    height: 1200px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background: #058FB2;
}

.three {
    width: 90%;
    min-width: 288px;
    height: 200px;
    margin: 0 auto;
    display: flex;
}

.text {
    width: 210px;
    font-size: 1.4rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    line-height: 3rem;
    color: white;
    text-shadow: 1px 1px 3px #034a5d;
}

.tertiary__title {
    justify-content: flex-start;
    margin-top: 300px;
}

.tertiary__title p {
    text-align: left;
}

.tertiary__description {
    justify-content: flex-end;
    margin-top: 350px;
}

.tertiary__description p {
    text-align: right;
}

.tertiary__fly {
    position: absolute;
    top: calc(8%);
    right: 0;
}

.tertiary__stela {
    position: absolute;
    top: calc(72%);
    left: 0;
}

.tertiary__stela img {
    width: 200px;
}

.tertiary__win {
    position: absolute;
    top: calc(50%);
}

main .services {
    width: 100%;
    height: auto;
}

.services .qservice {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.services .qwords {
    background: linear-gradient(177.32deg, var(--naranja-quality) 0.17%, #FE6B00 104.48%);
}

.services .q__logo {
    position: absolute;
    width: 229px;
    height: 228px;
    top: 50px;
    left: calc(50% - 114.5px);
}

.q__title {
    width: 90%;
    margin: 0 auto;
    margin-top: 250px;
    font-family: 'Inter', sans-serif;
    color: white;
}

.q__title h2 {
    font-size: 2.4rem;
    line-height: 3.5rem;
}

.q__title p {
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.5rem;

}

.q__plans {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-bottom: 20px;
    text-align: center;
}

.q__subtitle {
    width: 90%;
    min-width: 288px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: white;
}

.q__subtitle h2 {
    padding-top: 50px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 3.5rem;
}

.q__subtitle p {
    padding-top: 30px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: white;
}

.q__subtitle .qwords-p {
    text-shadow: 2px 2px 5px #c16007;
}

.q__slider {
    display: flex;
    gap: 5px;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.q__card {
    scroll-snap-align: center;
    width: 60%;
    min-width: 192px;
    max-width: 300px;
    height: 260px;
    margin: 20px 5px 0;
    padding: 0 10px;
    background-color: white;
    border-radius: 20px;
}

.qwords__card {
    box-shadow: 0 4px 8px #733803;
}

.plan-card-title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: black;
}

.plan-card-text {
    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: black;
}

.plan-card-price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
    color: black;
}

.plan-card-price span {
    display: inline-block;
    margin-left: 1px;
    font-size: 1.2rem;
    font-weight: 500;
    vertical-align: text-top;
}

.plan-card-ca {
    width: 150px;
    height: 48px;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.8rem;
}

.qwords__slider .plan-card-ca {
    border: 2px solid #fd7608;
}

.plan-card-ca span {
    display: inline-block;
    width: 5px;
    height: 9px;
    margin-left: 5px;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/icon/rightarrow.svg');
    vertical-align: center;
}

.services .qcode {
    background: linear-gradient(177.32deg, #00A79D 0.17%, var(--verde-quality) 104.48%);
}

.q__title .computer img {
    position: absolute;
    width: 350px;
    height: 250px;
    top: 525px;
    right: 0px;
}

.q__title .title-secundary-p {
    margin-top: 260px;
}

.q__subtitle .qcode-p {
    text-shadow: 2px 2px 5px #0a5039;
}

.qcode__slider {
    height: 500px;
}

.qcode__card {
    height: 425px;
    box-shadow: 0 4px 8px #0f7948;
}

.qcode__card .plan-card-price {
    font-size: 4rem;
}

.q__card .span-card {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.qcode__card .plan-card-landing {
    background-image: url('../assets/img/our.png');
}

.qcode__card .plan-card-commerce {
    background-image: url('../assets/img/cart.png');
}

.qcode__card .plan-card-blog {
    background-image: url('../assets/img/blog.png');
}

.qcode__card .plan-card-info-page {
    background-image: url('../assets/img/man.png');
}

.qcode__slider .plan-card-ca {
    border: 2px solid #368c67;
}

.services .qdesign {
    background: linear-gradient(177.32deg, var(--azul-quality) 0.17%, #1F6684 104.48%);
}

.qdesign__slider {
    height: 500px;
}

.qdesign__card {
    height: 425px;
    box-shadow: 0 4px 8px #04546f;
}

.qdesign__slider .plan-card-ca {
    border: 2px solid #167696;
}

.footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 500px;
    padding: 30px;
    background: #232f3e;
    border: 1px solid #121921;
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
    line-height: 2.4rem;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__logo img {
    width: 130px;
    height: 130px;
}

.footer__logo p {
    margin-top: 10px;
    padding-left: 10px;
    font-size: 2.4rem;
    font-weight: 500;
    text-shadow: 1px 1px 5px #05172d;
    color: white;
    border-left: 1px solid white;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 3rem;
}

.footer__contact ul {
    text-decoration: none;
    list-style-type: none;
}

.footer__contact ul li {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
}

.footer__contact ul li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

.footer__contact ul li .gmail {
    background-image: url('../assets/img/gmail.svg');
}

.footer__contact ul li .telegram {
    background-image: url('../assets/img/telegram.svg');
}